@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
}

.container{
  max-width: 75rem;
  margin: 0 auto;
}

/* Utility */
.btn-white{
  @apply py-1 px-3 active:scale-90 cursor-pointer transition-all duration-200 border-2 border-black
}
.btn-black{
  @apply py-1 px-3 active:scale-90 hover:bg-opacity-80 cursor-pointer transition-all duration-200 border-2 border-black bg-black text-white 
}

.title{
  @apply mb-3 text-4xl font-semibold
}

.no-error-input{
@apply bg-gray-300 focus:bg-white outline-none  placeholder:text-gray-500
}

.error-input{
@apply placeholder:text-black bg-red-500 !important;
}

/* Navbar */
.navbar{
  @apply py-4 mb-7 sticky top-0 bg-white
}

/* Form */
.form-content{
  @apply flex flex-col space-y-4 py-8
}

.form-content input, .modal input,.modal textarea{
  @apply  rounded-sm border-none px-2 h-11 focus:border focus:outline-black transition-all duration-500  
}
  
.form-content input:not(:placeholder-shown),
  .modal input:not(:placeholder-shown),
  .modal select:not(:placeholder-shown),
  .modal textarea:not(:placeholder-shown){   /* When placeholder is not shown. This means that the input have some content. */
    @apply bg-white outline-black;
  }

.form-content .password-btn {
  @apply absolute right-3 top-3;
}

/* Hide the button by default */
.form-content .password-btn {
  @apply hidden;
} 

/* Show the button when the input has content */
.form-content input:not(:placeholder-shown) + .password-btn {
  @apply block;
}

/* Modal */
.modal{
  @apply fixed z-30 bg-white rounded-md p-5 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}

.backdrop{
  @apply fixed top-0 left-0 w-full h-screen z-20 bg-[rgba(0,0,0,0.75)]
}